.nameinput{
    margin-right: 25px !important;

}
.p-inputtext	{
    font-family: 'Vazir-Medium' ;
    src: url('../assets/fonts/Vazir-Medium.ttf');
}
*{
    font-family: 'Vazir-Medium' ;
    src: url('../assets/fonts/Vazir-Medium.ttf');
}
.homenum{

}
.p-dropdown-label{
    font-family: 'Vazir-Medium';
    src: url('../assets/fonts/Vazir-Medium.ttf');
}
.p-inputtext{
    
    font-family: 'Vazir-Medium' !important;
    src: url('../assets/fonts/Vazir-Medium.ttf');
}
.p-dropdown-item{
    font-family: 'Vazir-Medium';
    src: url('../assets/fonts/Vazir-Medium.ttf');
}
.phonenum{
    font-family: 'Vazir-Medium';
    src: url('../assets/fonts/Vazir-Medium.ttf');
}
.Pemail{
margin-right: 37px !important;
}
.personalinfocontainer{
    background-color: #F4EEFF;
}
.p-accordion-header-link {
    background-color: #DCD6F7 !important;
    color:#424874 !important;
}
.dateinfo{
   
}
@font-face {
    font-family: 'Vazir-Medium';
    src: url('../assets/fonts/Vazir-Medium.ttf');
}
@media   (max-width: 576px) {
    .phonenum{
        margin-right:  7px !important;

    }
    .homenum{
        margin-right: 15px !important;

    }
    .nameinput{
        margin-right: 78px !important;
    
    }
    .IDinfo{
        margin-right: 50px !important;
    }
    .dateinfo{
        margin-right: 18px !important;
    }
    .Pemail{
        margin-right: 50px !important;
        }
}
@media   (max-width: 380px) {
    .phonenum{
        margin-right:  7px !important;

    }
    .homenum{
        margin-right: 15px !important;

    }
    .nameinput{
        margin-right:  8px !important;
    
    }
    .IDinfo{
        margin-right: 8px !important;
    }
    .dateinfo{
        margin-right: 0px !important;
    }
    .Pemail{
        margin-right: 60px !important;
        }
}