.simple-input {
  background-color: #00000000;
  border-radius: 8px;
  outline: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3.25rem;
  padding-bottom: 0.75rem;
  border: 1px;
  border-bottom: 2px;
  border-color: #0000aa08;
  border-style: solid;
  transition: all;
  transition-duration: 200ms;
}
.simple-input:focus {
  background-color: #0000aa04;
}
.simple-input:hover {
  background-color: #0000aa04;
}
