.simple-input {
  background-color: #0000aa02;
  outline: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  transition: all;
  transition-duration: 200ms;
}
.simple-input:focus {
  background-color: #0000aa06;
}
.simple-input:hover {
  background-color: #0000aa08;
}

.simple-input2 {
  background-color: #0000aa02;
  outline: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border: 0px;

  border-style: solid;
  transition: all;
  transition-duration: 200ms;
}

.css-100ebu3-menu {
  background-color: white;
  padding-top: 4px;
  padding-bottom: 4px;
}
