div.section-1-background-image-main-header {
  background-image: url(../image/header-1.jpg);
  background-size: cover;
  background-position:right;
  height: 100vh;
  background-attachment: fixed;
}
div.section-1-header-main-container {
  position: absolute;
  padding: 0rem 0rem;
  max-width: 95rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: flex-end;
}
p.section-1-header-main-title {
  text-align: center;
  font-size: 60px;
  font-family: B-Nazanin;
  color: rgba(104, 29, 89, 1);
  display: flex;
  align-items: center;
}
p.section-1-header-detail-title {
  text-align: center;
  font-family: B-Nazanin;
  font-size: 30px;
  color: rgba(104, 29, 89, 1);
  display: flex;
  justify-content: end;
}
button.section-1-header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to bottom right, #1233d88e, #1233d8a7) */
  background: linear-gradient(to bottom right, #6b2674cc, #6b2674c7),
    url(../image/button-1.jpg);
  background-size: cover;
  background-position: center;
  font-family: B-Nazanin;
  color: white;
  font-size: 2.5rem;
  padding: 0.5rem 4.5rem;
  border-radius: 0.3rem;
  border: 90px;
}
.section-1-header-button-2 {
  font-family: B-Nazanin;
  background-color: rgba(77, 3, 69, 1);
  color: rgba(227, 209, 189, 1);
  font-size: 1.5rem;
  padding: 1.5rem 2.5rem;
  border-radius: 0.3rem;
  border: 90px;
}
button.section-1-header-button-1:hover {
  color: rgba(77, 3, 69, 1);
  border: 0.3rem solid rgb(185, 143, 95);
  background-color: rgb(185, 143, 95);
}
.section-1-header-button:hover {
  cursor: pointer;
  /* background: linear-gradient(to bottom right, #6b2674, #6b2674); */
}
