.p-datatable-thead {
  background-color: #dcd6f7 !important;
}

.p-column-header {
  background-color: #dcd6f7 !important;
}
.p-column-title {
  color: #424874;
  font-size: 1.5rem !important;
  font-family: Vazir-Medium, sans-serifnt;
}
.p-sortable-column {
  background-color: #dcd6f7 !important;
}
