0x-contract-addresses==3.0.0
0x-contract-artifacts==3.0.0
0x-json-schemas==2.1.0
0x-order-utils==4.0.1
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==23.2.0
base58==2.1.1
bitarray==2.9.2
cbor2==5.6.4
certifi==2024.6.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
ckzg==1.0.2
click==8.1.7
cryptography==42.0.8
cytoolz==0.12.3
dacite==1.8.1
Deprecated==1.2.14
Django
django-allauth==65.13.0
django-cors-headers==4.3.1
django-filter==24.2
django-jazzmin==3.0.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.7.0
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
frozenlist==1.4.1
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hexbytes==0.3.1
hpack==3.0.0
hstspreload==2024.6.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
ipfshttpclient==0.8.0a2
jsonschema==3.2.0
kavenegar==1.1.2
libretranslatepy==2.1.1
lru-dict==1.3.0
lxml==5.2.2
multiaddr==0.0.9
multidict==6.0.5
mypy-extensions==0.4.4
netaddr==1.3.0
parsimonious==0.8.1
pillow==10.3.0
protobuf==3.20.3
psycopg2-binary==2.9.9
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.7.4
pydantic_core==2.18.4
pyee==9.1.1
PyJWT==2.8.0
pymerkle==2.0.2
pyrsistent==0.20.0
pytz==2022.7.1
regex==2024.5.15
requests==2.32.3
rfc3986==1.5.0
rlp==2.0.1
six==1.16.0
sniffio==1.3.1
sqlparse==0.5.0
stringcase==1.2.0
thirdweb-contract-wrappers==2.0.4
thirdweb-eth-account==0.6.6
thirdweb-sdk==3.1.1
toolz==0.12.1
tqdm==4.66.4
translate==3.6.1
typing_extensions==4.12.2
urllib3==2.2.2
varint==1.0.2
web3==5.27.0
websockets==9.1
wrapt==1.16.0
yarl==1.9.4
